{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">{{ note.data }}
        <a href="/delete/{{note.id}}" class="close" onclick="return confirm('Are you sure you want to Delete')">×</a>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.note.label(class="form-label") }}
        {{ form.note(class="form-control", rows="3") }}
        {% if form.note.errors %}
            <div class="text-danger">
                {% for error in form.note.errors %}
                    <small>{{ error }}</small><br>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{% endblock %}
